.note-img {
    text-align: center;
}

.note-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.note-img h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600; /* Bold weight to emphasize image titles */
    color: #202124;
    margin: 0;
}

